

/* Start:/local/templates/blog_rr/components/bitrix/news/complex_news/bitrix/news.list/.default/style.css?1578651118162*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/blog_rr/components/bitrix/news/complex_news/bitrix/news.list/.default/style.css?1578651118162 */
